body {
  background-color: #2e2e2e;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;

}

.container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #3a3a3a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1, h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
  background-color: #555;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.narudzba {
  background-color: #444;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.obrisi {
  background-color: #dc3545;
}

button.obrisi:hover {
  background-color: #a71d2a;
}
